node_modules
# Dependency directories
node_modules/
vendor/

# Vue build output
vue/dist/

# Go build output
go/server

# MacOS file system files
.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?